/* Valid CSS using "CSS2" profile and "ALL" medium */
body{
    margin:0;
	padding:45px 0 0 0;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#353535;
	text-align:left;
	background: white;
	display: block;
}
#foo{
	display: inline;
	position: relative;
	float: none;
}
div#docno{
	color:##946AF6;
	background: #BFBEC0;;
	visibility: visible;
	margin-left: 10px;
	margin-top: -29px;
	margin-right: 800px;
}
div#docid{
/*	background: white; */

	position: static;
	color:##946AF6;
	margin-top: 21px;
	margin-left: 10px;
	/*margin-right: -200px;*/
}
div#journal{

	color:#353535;
	vertical-align: 25px;
	padding-top: 83px;
	margin-left: 9px;
	margin-top: -86px;
}
div#title{
	
	border-bottom: 1px solid #fff;
	margin-top: 26px;
	padding: 9px;
}
div#author{
	
	border-bottom: 1px solid #353535 ;
	clear: right;
	height: 71px;
	padding-top: 8px;
	padding-left: 0;
	margin-bottom: 74px;
	margin-top: -16px;
	margin-left: 10px;
}

div#description{
	padding: 9px;
	margin-left: 0;
	margin-top: -16px;
	border-bottom: 1px solid #353535;
}
div#text{
	background: #BFBEC0;
	/*margin-right: 347px;*/
	padding: 9px;
	margin-top: -82px;
}
div#abstract{
	border-bottom: 1px solid #353535;
	margin-left: 0;
	/*margin-right: -6px;*/
}


	
	
