/* Valid CSS using "CSS2" profile and "ALL" medium */
body{
    margin:0;
	padding: 5px 0 0 0;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:10px;
	color:#353535;
	text-align:center;
	background-color:#E0F0FF;
/*	background-image:url("../images/Iziff1.jpg");*/
/*	background-repeat:no-repeat;*/
	display: block;
	max-width:750px;
	min-width:200px;
	float: left;
	margin: 0 auto;
	position: relative;
	left: 10px;
	padding-left: 2em;
	padding-right: 2em;
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	margin:0 auto;
	padding: 10px 10px 10px 10px;
	border: 1px #888 solid;
}


div#journal {
    font-style:italic;
/*	background: #EEEEEE;*/
	margin: 0 auto;
	margin-bottom: 3em;
	text-align: center;
	padding: 2em;
}

div#title{
    font-style:normal;
	font-size:12px;
	background: #C7E3FF;
	margin: 0 auto;
	margin-bottom: 3em;
	text-align: center;
	padding: 1em;
}
div#author{
	font-style:oblique;
	border-bottom: 1px solid #353535 ;
	clear: right;
/*	height: 40px;*/
	padding-top: 8px;
	padding-left: 0;
	margin-bottom: 20px;
/*	margin-top: 20px;*/
	margin-left: 10px;
}

div#description{
	padding: 9px;
	margin-left: 0;
	margin-top: 16px;
	border-bottom: 1px solid #353535;
	font-style:normal;
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
div#text{
	background: #E0E1FF;
	visibility: visible;
	font-style:normal;
	/*margin-right: 347px;*/
	padding: 9px;
	border:solid;
	/*margin-top: -82px;*/
}
div#abstract{
/*	border-bottom: 1px solid #353535;*/
/*	background: #BFBEC0;*/
/*	margin-left: 0;*/
	/*margin-right: -6px;*/
	
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-style:normal;

}
.doc_val{

}
div#docno{
    width:150px;
    display: block;
    position:absolute;
    left:10px;
    top:10px;
/*    padding: 9px;*/
    font-weight:bold;
    font-style:italic;
	color:##946AF6;
/*	background: transparent;*/
	visibility: visible;
/*	margin-left: 10px;*/
/*	margin-bottom: 20px;*/
/*	border-style:dotted;*/
/*	margin-right: 800px;*/
}
div#docid{
/*	background: white; */
    width:150px;
/*    padding: 9px;*/
    font-style:normal;
    display: block;
    position:absolute;
    right:10px;
    top:10px;
	color:##946AF6;
/*	margin-left: 10px;*/
/*	margin-bottom: 40px;*/
/*	border-style:dotted;*/
/*	margin-left: 10px;*/
	/*margin-right: -200px;*/
}

	
	
