/* Valid CSS using "CSS2" profile and "ALL" medium */
body{
    margin:0;
	padding:45px 0 0 0;
	font-family:verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#353535;
	background-color:white;
	text-align:left;

}
div#foo{
/*	text-align:center;
	display: inline;
	clear: both;
	position: relative;
	left: -452px;*/
}
div#docno{
/*	text-align:center;
	color:#353535;
	visibility: visible;
	float: left;
	display: inline;
	left: 20px;
	width: 1130px;*/
}
div#docid{
	/*background: #353535 none repeat scroll 0;*/


/*	color:#353535;*/
	/*border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top:1em;
	clear: both;
	visibility: visible;
	display: block;*/
	
}
div#journal{

	color:#353535;
/*	text-align: center;*/
/*	vertical-align: 25px;
	padding-top: 12px;*/
}
div#title{
	
/*	border-bottom: 1px solid #fff;*/
/*	text-align:center;*/
/*	background-attachment: fixed;
	margin-left: 371px;
	margin-right: 347px;
	padding: 9px;*/
}
div#author{
	
/*	border-bottom: 1px solid #353535 ;
	clear: both;
	margin-left: 371px;
	margin-right: 347px;
	padding: 9px;*/
}
div#text{
/*	border-bottom: 1px solid #353535;
	margin-left: 371px;
	margin-right: 347px;
	padding: 9px;*/
}
div#abstract{
/*	border-bottom: 1px solid #353535;
	margin-left: -7px;*/
}
div#description{
	color:red;
/*	border-bottom: 1px solid #353535;
	margin-left: 371px;
	margin-right: 347px;
	padding: 9px;*/
}

	
	
